---
import "../style/global.css";
import Footer from "./Footer.astro";
import Headers from "./Headers.astro";
const pageTitle = "Astro Prueba";
---

<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Inicio</title>
</head>
<body>
<Headers />
<h1 class="text-3xl font-bold underline">
  Prueba Astro
</h1>
    <slot />
    <Footer />
<script>
   import "../scripts/menu.js";
  </script>
</body>
</html>